# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_ENV=local

# Analytics (optional)
NEXT_PUBLIC_GA_ID=

# Notifications
NOTIFY_EMAIL=
RESEND_API_KEY=

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/ibwt?sslmode=disable

# Master switch: "testnet" or "mainnet"
NEXT_PUBLIC_NETWORK=testnet

# Solana — testnet config
NEXT_PUBLIC_SOLANA_RPC_URL_TESTNET=https://api.devnet.solana.com
NEXT_PUBLIC_IBWT_TOKEN_MINT_TESTNET=9rq5Nx45W9ku1bp31tctn7ynoTKQBaEDtzv6VQxfBd9B
NEXT_PUBLIC_TREASURY_WALLET_TESTNET=CqG2enYhFVySUJMs6ywwz2hc9K1BeNtFuE4e1oKhUYh7

# Solana — mainnet config
NEXT_PUBLIC_SOLANA_RPC_URL_MAINNET=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_IBWT_TOKEN_MINT_MAINNET=Co4KTCKPdAnFhJWNUbPdCn3VFF5xSATaxXpPaGVepump
NEXT_PUBLIC_TREASURY_WALLET_MAINNET=CqG2enYhFVySUJMs6ywwz2hc9K1BeNtFuE4e1oKhUYh7

# Gateway
NEXT_PUBLIC_GATEWAY_URL=http://localhost:8080
